<mat-sidenav-container>
    <mat-sidenav mode="side" opened #sidenav style="background-color: rgb(82, 7, 7)">
      <mat-nav-list>  
        <a routerLink="" mat-list-item>view students (homepage)</a>
        <a routerLink="view-courses" mat-list-item>view courses</a>
        <a routerLink="add-student" mat-list-item>add student</a>
        <a routerLink="add-course" mat-list-item>add course</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
