<div>
    <h1 class="title">Classes List</h1>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef appColumnsHeadersStyle>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="commission">
            <th mat-header-cell *matHeaderCellDef appColumnsHeadersStyle>Commission</th>
            <td mat-cell *matCellDef="let element">{{ element.commission }}</td>
        </ng-container>

        <ng-container matColumnDef="professor">
            <th mat-header-cell *matHeaderCellDef appColumnsHeadersStyle>Professor</th>
            <td mat-cell *matCellDef="let element">{{ element.professor }}</td>
        </ng-container>

        <ng-container matColumnDef="courseName">
            <th mat-header-cell *matHeaderCellDef appColumnsHeadersStyle>Course Name</th>
            <td mat-cell *matCellDef="let element">{{ element.course.name }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef appColumnsHeadersStyle>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button style="background-color: rgb(82, 7, 7)" (click)="editClass(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button style="background-color: rgb(82, 7, 7)" (click)="deleteClass(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
</div>